@charset "UTF-8";
//-----------------------------------------------------
// function scss
// 提供所有的基础功能包括：变量设置，@media，基础mixin，animation
// 默认不会解析出任何样式
//-----------------------------------------------------


// 导入所有功能类相关文件
//-----------------------------------------------------
@import "style/variables";
@import "style/mixin";
@import "style/reset";
@import "style/rem";

// 导入jrv common文件 主要是字体 margin padding相关
@import "style/jrvcommon";

//定义全局基本样式

#app{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    //min-height: 100vh;
    height: 100%;
    background: #FAFAFA;
    >div{ position: absolute; height: 100%; width: 100%;}
}
